<form method="POST" name='createWatcherForm' novalidate ng-submit="create()" autocomplete="off">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            {{formModel.name || 'Create Watcher'}}
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class='form-group'>
            <label for='name'>Watcher name</label>
            <input 
                type="text" 
                class="form-control" 
                id="name" 
                name='name' 
                ng-model='formModel.name' 
                placeholder="Watcher name" 
                required/>
        </div>
        <div class='form-group'>
            <label for='lines'>Initial lines</label>
            <select 
                class='form-control'
                ng-required='true'
                id="lines" 
                name='lines' 
                ng-model='formModel.lines'
                ng-options='v.value as v.key for v in lineOptions'>
            </select>
            <span class='help-block'>Fetch the last 'n' lines of the file(s) to be tailed.</span>
        </div>
        <div class="checkbox">
            <label>
                <input 
                    type='checkbox'
                    id='automatic'
                    name='automatic'
                    ng-model='formModel.automatic'
                    ng-required='false'>
                Start automatically
            </label>
        </div>
        <div class='form-group'>
        </div>
        <div ng-repeat='profile in formModel.profiles track by $index' class='form-group'>
            <label for='profile-{{$index}}'>Profile {{$index + 1 }}</label>
            <div class='row'>
                <div class='col-xs-10'>
                    <select 
                        class='form-control' 
                        ng-required='true'
                        ng-model='formModel.profiles[$index].id' 
                        id='profile-{{$index}}' 
                        name='profile'
                        ng-options='p.id as p.name for p in profiles'>
                    </select>
                </div>
                <div class='col-xs-2'>
                    <button 
                        ng-if='formModel.profiles.length > 1' 
                        type='button' 
                        class='btn btn-default' 
                        ng-click='removeProfile($index)'>
                        <span class='glyphicon glyphicon-minus'></span>
                    </button>
                </div>
            </div>
            <span class='help-block'>Add profiles to this watcher. Profiles determine what files or folders should be watched.</span>
        </div>
        <div class='form-group'>
            <button type="button" class='btn btn-info' ng-click="addProfile()">
                <span class='glyphicon glyphicon-plus'></span>
                Add Profile
            </button>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        <input 
          type='submit'
          ng-disabled='createWatcherForm.$pristine || createWatcherForm.$invalid'
          class="btn btn-success" 
          value='Create'/>    
    </div>
</form>
