<form method="POST" name='editWatcherForm' novalidate ng-submit="edit()" autocomplete="off">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            Edit {{formModel.name || 'Create Watcher'}}
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <input type="hidden" ng-model='formModel.id' name='id' id='id'>
        <div class='form-group'>
            <label for='name'>Watcher name</label>
            <input 
                type="text" 
                class="form-control" 
                id="name" 
                name='name' 
                ng-model='formModel.name' 
                placeholder="Watcher name" 
                required/>
        </div>
        <div class='form-group'>
            <label for='name'>Initial lines</label>
            <select 
                class="form-control" 
                ng-required='true'
                id="lines" 
                name='lines' 
                ng-model='formModel.lines'
                ng-options='v.value as v.key for v in lineOptions'>
            </select>
            <span class='help-block'>Fetch the last {{formModel.lines}} lines of the file(s) to be tailed.</span>
        </div>
        <div class="checkbox">
            <label>
                <input 
                    type='checkbox'
                    required
                    id='automatic'
                    name='automatic'
                    ng-model='formModel.automatic'>
                Start automatically
            </label>
        </div>
        <div ng-repeat='profile in formModel.profiles track by $index' class='form-group'>
            <label for='profile-{{$index}}'>Profile {{$index + 1 }}</label>
            <div class='row'>
               <div class='col-xs-10'>
                    <select 
                        class='form-control' 
                        ng-required='true'
                        ng-model='formModel.profiles[$index].id' 
                        id='profile-{{$index}}' 
                        name='profile'>
                        <option 
                            ng-repeat="prof in profiles" 
                            value='{{prof.id}}'
                            ng-selected='{{prof.id == profile.id}}'>
                            {{prof.name}}
                        </option>
                    </select>
                </div>
                <div class='col-xs-2'>
                    <button 
                        type='button' 
                        ng-if='formModel.profiles.length > 1' 
                        class='btn btn-default' 
                        ng-click='removeProfile($index)'>
                        <span class='glyphicon glyphicon-minus'></span>
                    </button>
                </div>
            </div>
            <span class='help-block'>Add profiles to this watcher. Profiles determine what files or folders should be watched.</span>
        </div>
        <div class='form-group'>
            <button type="button" class='btn btn-info' ng-click="addProfile()">
                <span class='glyphicon glyphicon-plus'></span>
                Add Profile
            </button>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        <input 
          type='submit'
          ng-disabled='editWatcherForm.$pristine || editWatcherForm.$invalid'
          class="btn btn-success" 
          value='Save'/>    
    </div>
</form>
