<div class='col-xs-12'>

	<h3>Logger</h3>

	<div ng-if='watchers.length == 0' class="alert alert-info" role="alert">
		No watch profiles available. Click <strong><a href='#' ui-sref='watcher'>here</a></strong> to set one up.
	</div>

	<uib-accordion ng-repeat='watcher in watchers' close-others="oneAtATime">
	    <div uib-accordion-group class="panel-default" is-open="watcher.opened">
			<uib-accordion-heading>
	        	{{watcher.name}} 
	        	<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': watcher.getOpened(), 'glyphicon-chevron-right': !watcher.getOpened()}"></i>
			</uib-accordion-heading>
			<div class='row'>
				<div class='col-xs-12'>
					<button type='button' class='btn' ng-class='{"btn-primary": !watcher.getStarted(), "btn-danger": watcher.getStarted() }' ng-click='action(watcher)'>
						<span ng-class='{"glyphicon glyphicon-play": !watcher.getStarted(), "glyphicon glyphicon-stop": watcher.getStarted() }'></span>
						<span ng-if='!watcher.getStarted()'>Start</span>
						<span ng-if='watcher.getStarted()'>Stop</span>
					</button>
				</div>
			</div>
			<br/>
			<div ng-repeat='profile in watcher.profiles' class='panel panel-default'>
				<div class='panel-heading'>
					{{profile.name}}
				</div>
				<div class='panel-body'>
					<div class='row'>
						<div class='col-xs-4'>
							<div class="list-group">
					  			<a 
					  				href='#' 
					  				ng-repeat='path in profile.paths track by $index'
					  				class='list-group-item'
					  				ng-class='{"active": profile.isPathInView(path)}'
					  				ng-click='view($event, watcher, profile, path)'>
			        				<i class="glyphicon glyphicon-file"></i>
					  				{{path}}
					  			</a>
							</div>
						</div>
						<div class='col-xs-8'>
							<pre class='tail' ng-repeat='path in profile.paths track by $index' ng-if='profile.isPathInView(path)'>
								<span ng-repeat='content in profile.pathContents[path] track by $index'>{{content}}</span>
							</pre>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</uib-accordion>

</div>