<form method="POST" ng-submit="create()" autocomplete="off">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{formModel.name || 'Create a new Profile'}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
            <input type="hidden" ng-model='formModel.id' name='id' id='id'>
            <div class='form-group'>
                <label for="name">Profile name</label>
                <input type="text" class="form-control" id="name" name='name' ng-model='formModel.name' placeholder="Profile name">
            </div>
            <div ng-repeat='path in formModel.paths track by $index' class='form-group'>
                <label for='files'>File path {{$index + 1 }}</label>
                <input type='text' ng-model='formModel.paths[$index]' class='form-control' id='files' name='files' placeholder='File Path'>
            </div>
            <div class='form-group'>
                <button type="button" class='btn btn-default' ng-click="addPath()">Add another path</button>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        <input type='submit' class="btn btn-primary" value='Create'>        
    </div>
</form>
