<div class='row'>
	<div class='col-xs-12'>
		<form class='form-horizontal' ng-submit='navigate()''>
			<div class='form-group'>
				<div class='col-xs-1'>
					<button type='button' class='btn btn-default' ng-click='up()'>
						<span class='glyphicon glyphicon-chevron-up'></span>
					</button>
				</div>
				<div class='col-xs-9'>
					<input type='text' id='fileBrowserCurrentDir' class='form-control' ng-model='result.currentDir'/>
				</div>
				<div class='col-xs-2'>
				  	<button type="submit" class="btn btn-default">
				  		<span class='glyphicon glyphicon-search'></span>
				  	</button>
				</div>
			</div>
		</form>
	</div>
	<div class='col-xs-12'>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='file in result.files track by $index'>
					<td>
						<span ng-if='file.isDirectory' class='glyphicon glyphicon-folder-close'></span>
						<span ng-if='!file.isDirectory' class='glyphicon glyphicon-file'></span>
					</td>
					<td>
						<a ng-if='file.isDirectory' href='#' ng-click='fetch(file.id)'>{{file.text}}</a>
						<span ng-if='!file.isDirectory'>{{file.text}}</span>
					</td>	
					<td>
						<button type='button' ng-click='add(file.id)' class='btn btn-default'>
							Select
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>