<div class='col-xs-10'>
	<h3>
		Profiles<br/>
		<small>Create profiles that specify files to be tailed.</small>
	</h3>
</div>
<div class='col-xs-2'>
	<button ng-if='profiles.length > 0' type='button' class='btn btn-info pull-right' ui-sref='.create'>
		<span class='glyphicon glyphicon-plus'></span>
		<span class='hidden-xs'>New Profile</span>
	</button>
</div>

<div class='col-xs-12'>

	<div ng-if='profiles.length === 0' class='alert alert-info'>
		<p>No profiles found. <strong><a ui-sref='.create'>Create one.</a></strong></p>
	</div>

	<div class='well' ng-if='profiles.length > 0'>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Profile name</th>
					<th class='hidden-xs'>File paths</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="profile in profiles">
					<th>
						<a href='#' ui-sref='.edit({id: profile.id })'>
							{{profile.name}}
						</a>
					</th>
					<td class='hidden-xs'>
						<p ng-repeat='path in profile.paths'>{{path}}</p>
					</td>
					<td>
						<button type='button' ng-click='delete(profile)' class='btn btn-danger'>
							<span class='glyphicon glyphicon-trash'></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>