/**
 * importer.scss
 *
 * By default, new Sails projects are configured to compile this file
 * from SCSS to CSS.  Unlike CSS files, SCSS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The SCSS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent SCSS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */

$icon-font-path: "../fonts/" !default;
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../bower_components/angular-bootstrap/ui-bootstrap-csp';
@import '../../bower_components/angular-loading/angular-loading';


pre.tail {
  font-family: monospace;
  background-color: #fff;
  margin: auto;
  padding: 0.5em;
  border-radius: .25em;
  box-shadow: .1em .1em .5em rgba(0,0,0,.45);
  line-height: 0;
  counter-reset: line;
  
  span {
    display: block;
    line-height: 1.5rem;
    
    &:before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 .5em;
      margin-right: .5em;
      color: #888
    }
  }
}