<div class='col-md-12'>
	<h3>
		Watcher
		<button ng-if='profiles.length > 0 && watchers.length > 0' type='button' class='btn btn-info pull-right' ui-sref='.create'>
			<span class='glyphicon glyphicon-plus'></span>
			New
		</button>
	</h3>
</div>

<div class='col-md-12'>
	<div ng-if='profiles.length == 0' class="alert alert-info" role="alert">
		No profiles available. Click <strong><a href='#' ui-sref='profile.create'>here</a></strong> to set up a new profile.
	</div>
	<div ng-if='profiles.length > 0'>
		<div ng-if='watchers.length == 0' class="alert alert-info" role="alert">
			No watchers found. <strong><a ui-sref='.create'>Create one.</a></strong>
		</div>
	</div>
</div>
